$screen-xs-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 979px;

$screen-md-min: 768px;
$screen-lg-min: 1200px;

a, a:link {
  cursor: pointer;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, button, select, textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: url('/images/bg-transparent.png') no-repeat fixed right top;
}

@media (min-width: 1720px) {
  body {
    background-image: url('/images/bg.png');
  }
}

@media (max-width: 950px) {
  body {
    background: none;
  }
}

.breadcrumb {
  padding: 8px 3px;
  background: transparent;
}

@media (min-width: $screen-md-max) {
  .navbar-fixed-top .navbar-inner .container {
    .brand img {
      padding: 1px 0 1px 4px;
    }
    .nav li a {
      padding: 14px 15px;
    }
  }

  .page-header-element {
    margin-top: 75px;
  }
}

@media (max-width: $screen-md-max) {
  .navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    .navbar-inner {
      padding: 0;
      .container {
        .brand img {
          padding: 6px 0 1px 8px;
        }
        .nav li a {
          padding: 19px 15px;
        }
      }
    }
  }

  .page-header-element {
    margin-top: 80px;
  }
}

@media (min-width: 661px) {
  .navbar .btn-navbar, .nav-small {
    display: none;
  }
}

@media (max-width: 660px) {
  .navbar .btn-navbar {
    display: block;
    margin: 12px;
  }

  .nav-big {
    width: 100%;
    display: block;
    clear: both;
    display: none;

    ul {
      display: block;
      padding: 0;
      margin: 0;
      float: none;
      width: 100%;
      li {
        float: none;
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        border-top: 1px #eee solid;
        &.active a {
          background-color: #e5e5e5;
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        }
        a {
          padding: 12px;
          display: block;
          font-size: 1.1em;
          color: #333;
          &:hover, &:active {
            background: #ffffff;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }

  .navbar-fixed-top {

  }

}

.page-section {
  margin-bottom: 50px;
}

.fb-like-box {
  border: 1px gainsboro solid;
  padding: 40px 0 0 0;
  background: #fff;
}

#map_canvas {
  height: 100%;
}

.news-item {
  margin: 0 0 20px 0;
  .image {
    margin-top: 20px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}

.project-box-link {
  display: block;

  max-width: 370px;

  color: inherit;

  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  &:focus, &:hover {
    text-decoration: none;
    color: inherit;

    border-color: #0088cc;
    box-shadow: 0 1px 30px rgba(0, 105, 214, 0.25);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

  }
}

.partners {
  margin-top: 2em;

  a#startfeld {
    display: block;
    width: 195px;
    height: 52px;
    background: url('/images/startfeld.png') 0px -1px no-repeat;
    text-indent: -99999px;

    &:hover {
      background-position: 0px -52px;
    }
  }
}

.project-box {
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;

  strong {
    color: #0088cc;
  }
  img {
    border-radius: 5px 5px 0 0;
  }
  .short-description {
    border-top: 1px solid #ddd;
    padding: 10px;
  }

  &.milky img {
    opacity: 0.5;
  }
}

.profile-social-links {
  a {
    text-decoration: none;
  }
}

.profile-collapse-summary a {
  text-decoration: none;
  font-weight: bold;
}

.team-member {
  margin-bottom: 50px;
  .job-title {
    &.break {
      display: none;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      &.break {
        display: block;
      }
      &.normal {
        display: none;
      }
    }
    margin-top: 10px;
  }
  .email-address {
    margin-bottom: 12px;
  }
  blockquote {
    @media (min-width: $screen-md-min) {
      min-height: 130px;
    }
    @media (min-width: 980px) {
      min-height: 110px;
    }
    @media (min-width: 1200px) {
      min-height: 90px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .project-box {
    height: 220px;
  }
}

@media (min-width: 980px) {
  .project-box {
    height: 240px;
  }
}

@media (min-width: 1200px) {
  .project-box {
    height: 240px;
  }
}

.customer-survey {
  width: 79%;
  min-height: 1265px;
}

@media (max-width: 950px) {
  .customer-survey {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .customer-survey {
    min-height: 1359px;
  }
}

@media (max-width: 450px) {
  .customer-survey {
    min-height: 1415px;
  }
}

@media (max-width: 350px) {
  .customer-survey {
    min-height: 1697px;
  }
}

.gettogethers-registration {
  width: 79%;
  min-height: 1025px;
}

@media (max-width: 950px) {
  .gettogethers-registration {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .gettogethers-registration {
    min-height: 1125px;
  }
}

@media (max-width: 450px) {
  .gettogethers-registration {
    min-height: 1185px;
  }
}

@media (max-width: 350px) {
  .gettogethers-registration {
    min-height: 1485px;
  }
}


.new-office-registration {
  width: 79%;
  min-height: 1320px;
}

@media (max-width: 950px) {
  .new-office-registration {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .new-office-registration {
    min-height: 1420px;
  }
}

@media (max-width: 450px) {
  .new-office-registration {
    min-height: 1480px;
  }
}

@media (max-width: 350px) {
  .new-office-registration {
    min-height: 1780px;
  }
}

footer {
  @media (max-width: 767px) {
    margin: 0 -20px;
  }

  .footer--main {
    @media (max-width: 767px) {
      padding: 0 20px;
    }

    background: #e4eef6;
    border-top: 1px solid #D1E2F0;
  }

  .social-media a {
    text-decoration: none;
    color: #444;
    &:focus, &:hover {
      color: #222;
    }
  }
}

@media (max-width: 450px) {
  .carousel-caption {
    height: 225px;

  }
}

.testimonial-quotations {
  .span4 {
    background-color: #f7f7f7;
    height: 450px;
    padding: 30px;

    @media (max-width: $screen-md-max) {
      height: 540px;
    }

    @media (max-width: $screen-sm-max) {
      height: 340px;
      margin-bottom: 10px;
    }

    @media (max-width: $screen-xs-max) {
      height: 450px;
    }
  }

  h2 {
    color: #5e91c7;
    font-weight: bold;
    height: 20px;
    margin: 0;
  }

  img.testimonial-portraits {
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
  }

  .testimonials-sentence {
    height: 210px;
    margin-top: 20px;

    @media (max-width: $screen-md-max) {
      height: 310px;
    }

    @media (max-width: $screen-sm-max) {
      height: 120px;
    }

    @media (max-width: $screen-xs-max) {
      height: 210px;
    }
  }

  img {
    height: 35px;
  }

  p {
    margin: 0;
  }

  text-align: center;
}

